@font-face {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("../fonts/material-design-icons/MaterialIcons-Regular.ttf")
      format("truetype"),
    url("../fonts/material-design-icons/MaterialIcons-Regular.woff2")
      format("woff2"),
    url("../fonts/material-design-icons/MaterialIcons-Regular.woff")
      format("woff"),
    url("../fonts/material-design-icons/MaterialIcons-Regular.eot");
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko:400,600&display=swap");

:root {
  --font-family: "Exo", sans-serif;
}

.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 0px;
}

.card2 {
  margin: 0px 40px;
}

.logo {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px;
}

.image {
  width: 360px;
  height: 280px;
}

.avatar-large-1 {
  width: 70px !important;
  height: 70px !important;
  font-size: 24px !important;
  text-transform: uppercase !important;
}
.avatar-large-2 {
  width: 90px !important;
  height: 90px !important;
  text-transform: uppercase !important;
  font-size: 32px !important;
}

.border-line {
  border-right: 1px solid #eeeeee;
}

.facebook {
  background-color: #3b5998;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer !important;
}

.sidenav-trigger-2 {
  transform: translate(25%, -15%) !important;
}

.sidenav-translate {
  transform: translate(-250px, 10px) !important;
}

.twitter {
  background-color: #1da1f2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.linkedin {
  background-color: #2867b2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.line {
  height: 1px;
  width: 45%;
  background-color: #e0e0e0;
  margin-top: 10px;
}

.or {
  width: 10%;
  font-weight: bold;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.btn-outline-white {
  border: 2px solid #fff;
}

.btn-outline-black {
  border: 2px solid #000;
}

.z-index-0 {
  z-index: 0 !important;
}

.z-index-1 {
  z-index: 10 !important;
}

.img-carousel {
  width: 100%;
  height: 100%;
}

.image-contain {
  width: 100%;
  padding-top: 10%;
  height: 100%;
}

.marginBtm-0 {
  margin-bottom: 0px !important;
}

.margin-btm-50 {
  margin-bottom: 50px !important;
}

.text-carousel {
  transform: translateY(200%) !important;
  z-index: 10;
}

.carousel .indicators .indicator-item {
  background-color: #e0e0e0;
}

.carousel .indicators .indicator-item.active {
  background-color: #686f7a;
}

.video-section {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.home-text-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  max-width: 900px;
  position: relative;
  text-align: center;
  z-index: 11;
}

.home-content {
  position: relative;
}

.home-message {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.home-message p {
  font-size: 54px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.home-message small {
  font-size: 16px;
  font-family: "Droid Serif", sans-serif;
  font-style: italic;
  display: block;
  padding: 20px 0 35px;
  margin: 0;
}

.modal {
  max-height: 100% !important;
}

.modal-width-30 {
  width: 30% !important;
}

.modal-width-20 {
  width: 20% !important;
}

a {
  text-decoration: none !important;
}

.text-sm {
  font-size: 14px !important;
}
.text-cap {
  text-transform: capitalize !important;
}

::placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

input,
textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304ffe;
  outline-width: 0;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

.btn-blue {
  background-color: #1a237e;
  width: 150px;
  color: #fff;
  border-radius: 2px;
}

.btn-blue:hover {
  background-color: #000;
  cursor: pointer;
}

.bg-blue {
  color: #fff;
  background-color: #1a237e;
}

@media screen and (max-width: 991px) {
  .logo {
    margin-left: 0px;
  }

  .image {
    width: 300px;
    height: 220px;
  }

  .border-line {
    border-right: none;
  }

  .card2 {
    border-top: 1px solid #eeeeee !important;
    margin: 0px 15px;
  }
}

.curriculum-wrapper .lecture-container {
  display: flex;
  padding: 12px 30px 12px 43px;
  background-color: #fff;
  border: 1px solid #e8e9eb;
  border-top: none;
  color: #686f7a;
  letter-spacing: 0.3px;
  line-height: 1.33;
}

.curriculum-wrapper .lecture-container .left-content {
  display: flex;
  align-items: flex-start;
  width: 50%;
}

.curriculum-wrapper .lecture-container .top {
  flex-direction: column-reverse;
  display: flex;
  margin-left: 15px;
  width: 100%;
}

.curriculum-wrapper .lecture-container .description {
  font-size: 13px;
}

.collapse.in {
  display: block;
}

.icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  overflow: hidden;
}

.padding-5px {
  padding: 5px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.folder {
  margin: 5px;
  min-height: 36px;
}

.folder-icon,
.folder-name {
  min-width: 48px;
  min-height: 48x;
}

.folder-icon {
  justify-content: center;
  justify-items: center;
}

.folder-name {
  margin: "auto";
  position: relative;
  padding-top: 5px;
}

.folder-container {
  border-radius: 5px;
  border: 1px solid #bbdefb;
}

.folder-container :hover,
.folder-container :active,
.folder-container :focus {
  background: #eeeeee;
}

.curriculum-wrapper .lecture-container .title {
  color: #505763;
  font-size: 14px;
  margin-top: -2px;
}

.curriculum-wrapper .lecture-container .details {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: auto;
  width: 50%;
  font-size: 14px;
}

@media (min-width: 992px) {
  .curriculum-wrapper .content-summary {
    width: 30%;
  }
}

.curriculum-wrapper .content-summary {
  color: #686f7a;
  flex-direction: row-reverse;
  display: flex;
  text-align: right;
  white-space: nowrap;
  width: 40%;
}

.upload-disabled {
  pointer-events: none;
  box-shadow: none;
  cursor: default;
  opacity: 0.7;
}

.height-0 {
  height: 30px !important;
}

.dataTables_length label,
.dataTables_paginate .pagination {
  float: right !important;
}

.dataTables_filter label {
  float: left !important;
  margin-left: 20px !important;
}

.mdb-datatable-filter.flex-row {
  transform: translateY(-15px) !important;
}

.dataTables_length label {
  margin-right: 20px !important;
}

.dataTables_length label .select-wrapper {
  max-width: 50px !important;
}

.dataTables_filter label input {
  max-width: 250px !important;
}

.btn-classroom {
  padding: 0px 10px;
  cursor: pointer;
}

.btn-classroom:hover,
.btn-classroom:active,
.btn-classroom:focus {
  border-bottom: 1px solid #adadad !important;
  background: #e0e0e0 !important;
}

.remove-content {
  display: none;
  cursor: pointer;
}

.upload {
  display: none;
  cursor: pointer;
}

.marked {
  display: none;
  pointer-events: none !important;
}

.download {
  display: none;
  cursor: pointer;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}

h4.header {
  line-height: 2.508rem;
  margin: 1.14rem 0 0.912rem 0;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.plans-container .card .card-image {
  position: relative;
  width: 100%;
}

.plans-container .card .card-image .card-title {
  position: relative;
  font-size: 1.28rem;
  line-height: 1.6em;
  text-align: center;
  width: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
}

.plans-container .card .card-image .price {
  position: relative;
  font-size: 5rem;
  line-height: 1.6em;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.plans-container .card .card-image .price sup {
  font-weight: 100;
  font-size: 1.42rem;
  line-height: 1.6em;
  top: -35px;
}

.plans-container .card .card-image .price sub {
  font-weight: 100;
  font-size: 1.42rem;
  line-height: 1.6em;
  top: 0;
}

.plans-container .card .card-image .price-desc {
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}

.plans-container .card .card-content {
  padding: 0;
}

.plans-container .collection {
  border: none;
}

.plans-container .collection .collection-item:before {
  font-size: 1.28rem;
  line-height: 1.6em;
  color: #009315;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  content: "\e623";
  margin-right: 10px;
}

.plans-container .collection .collection-item {
  border-bottom: none;
  text-align: center;
  font-size: 1.07rem;
  line-height: 1.6em;
}

nav.navbar {
  z-index: 10;
  transition: box-shadow 0.3s, background-color 0.3s;
  padding: 0 20px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}

@media only screen and (max-width: 997px) {
  nav.nav-extended {
    width: 100% !important;
  }
}

nav.nav-extended {
  height: auto;
  width: 85%;
}

nav.nav-extended .nav-content {
  position: relative;
  line-height: normal;
}

nav.navbar ul a {
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  transition: color 0.2s;
}

nav ul a {
  transition: background-color 0.3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #91baff;
  will-change: left, right;
}

nav.navbar .brand-logo {
  position: relative;
  float: left;
  font-size: 28px;
  left: 2%;
  margin-top: 18px;
  color: rgba(0, 0, 0, 0.87);
}

.course-meta ul li {
  display: inline-block;
  list-style: none;
  padding: 0px 5px;
  color: #212121;
  font-size: 11px;
}

.datepicker-modal,
.timepicker-modal {
  top: -10px !important;
}

#main_1 {
  flex: 1 0 auto;
  display: block;
}

main > .container {
  margin-top: 20px;
}

.card.card-login {
  display: flex;
}

.card.card-login .card-login-splash {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex: 1;
}

login-splash .settings-title {
  margin-top: 0;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0;
}

.card.card-login .card-content {
  flex: 1;
}

.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
}

.card .card-title {
  font-weight: normal;
}

.card .card-title {
  font-size: 24px;
  font-weight: 300;
}

.input-field {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-flat {
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
  transition: background-color 0.2s;
}

.card.card-login .card-login-splash h3 {
  margin-top: 0;
}

.card-login-splash .wrapper {
  position: absolute;
}

.wrapper .btn {
  margin: 0px 5px;
}

.card-services .card {
  margin-right: 50px;
}

.text-container-translate {
  transform: translateY(-150%);
}

.text-container {
  padding-left: 70px;
}

.custom-module h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0 30px;
  padding: 0;
}

.custom-module mark {
  line-height: 1;
  color: #ffffff;
  padding: 0 10px;
}

.custom-module p {
  padding: 0;
  margin: 0;
}

.p40l {
  padding-left: 4rem;
}

.text-container {
  padding-left: 50px;
}

.sect-learn {
  margin-top: -100px;
}

.head-pawa {
  padding-left: 80px;
  padding-right: 80px;
  height: 60px;
}

.head-pawa li:hover {
  color: white;
}

.head-pawa .brand-logo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: -5px;
}

.content-pawa {
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

.image-container {
  margin-top: -70px;
}

.image-container {
  width: 100%;
  height: auto;
}

.notepaper {
  position: relative;
  padding: 0px 20px 0px 45px;
  width: 100%;
  line-height: 30px;
  transform: translateY(5%);
  color: #6a5f49;
  text-shadow: 0 1px 1px white;
  /* background-color: #fbfddd; */
  background-image: -webkit-radial-gradient(
      center,
      cover,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.1) 90%
    ),
    -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(
            239,
            207,
            173,
            0.7
          )
          29px, rgba(239, 207, 173, 0.7) 30px);
  background-image: -moz-radial-gradient(
      center,
      cover,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.1) 90%
    ),
    -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(
            239,
            207,
            173,
            0.7
          )
          29px, rgba(239, 207, 173, 0.7) 30px);
  background-image: -o-radial-gradient(
      center,
      cover,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.1) 90%
    ),
    -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(
            239,
            207,
            173,
            0.7
          )
          29px, rgba(239, 207, 173, 0.7) 30px);
  border: 1px solid #c3baaa;
  border-color: rgba(195, 186, 170, 0.9);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d6daab, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5),
        inset 0 0 5px #d6daab,
        0 0 1px rgba(0, 0, 0, 0.1),
        0 2px rgba(0, 0, 0, 0.02); */
}

.notepaper:before,
.notepaper:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
}

.notepaper:before {
  left: 28px;
  width: 2px;
  border: solid #efcfad;
  border-color: rgba(239, 207, 173, 0.9);
  border-width: 0 1px;
}

.notepaper:after {
  z-index: -1;
  left: 0;
  right: 0;
  background: rgba(246, 250, 203, 0.7);
  border: 1px solid rgba(192, 178, 154, 0.7);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

.quote {
  font-family: Georgia, serif;
  font-size: 14px;
}

.curly-quotes:before,
.curly-quotes:after {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 48px;
  font-size: 50px;
  opacity: 0.2;
}

.curly-quotes:before {
  content: "\201C";
  margin-right: 4px;
  margin-left: -8px;
}

.curly-quotes:after {
  content: "\201D";
  margin-left: 4px;
  margin-right: -8px;
}

.quote-by {
  display: block;
  padding-right: 10px;
  text-align: right;
  font-size: 13px;
  font-style: italic;
  color: #84775c;
}

.lt-ie8 .notepaper {
  padding: 15px 25px;
}

#myVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  color: #f1f1f1;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 20px;
}

.carousel-bg-img {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.min-height-370 {
  min-height: 370px !important;
}

.max-height-600 {
  max-height: 600px !important;
}

.conference {
  margin: auto;
  width: 100%;
}

.modal-width-230 {
  width: 230px !important;
}

.width-250 {
  width: 250px !important;
}

ul.card-action-buttons {
  margin: -26px 10px 0 0;
  text-align: right;
}

ul.card-action-buttons2 {
  text-align: left;
}

ul.card-action-buttons li,
ul.card-action-buttons2 li {
  display: inline-block;
  padding-left: 5px;
}

.custom-options__value-container,
.custom-options__control,
.custom-options__indicators {
  height: 45px !important;
  background-color: transparent !important;
}

.custom-options__control,
.custom-options__value-container {
  border: 0px !important;
  border-bottom: 1px solid#9e9e9e;
}

.custom-options__single-value {
  top: 60% !important;
  font-size: 14px !important;
}

.custom-options__placeholder {
  top: 60% !important;
}

.custom-options__indicator-separator {
  display: none !important;
}

.my-divider {
  height: 0.5px;
  overflow: hidden;
  background-color: #9e9e9e;
}

.show-rs-bar {
  transform: translateX(0px);
}

.hide-rs-bar {
  transform: translateX(100%);
}

.video-class-title {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}

.margin-0 {
  margin: 0px !important;
  padding: 0px !important;
}

.text-16 {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.text-18 {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.text-20 {
  font-size: 20px !important;
  font-weight: 400 !important;
}

.text-24 {
  font-size: 24px !important;
  font-weight: 400 !important;
}

.text-shadow-2 {
  text-shadow: 0 13.36px 8.896px #a2b1b4, 0 -2px 1px #fff !important;
}

.form-meeting {
  padding: 2rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.bs-select {
  transform: translateY(30px) !important;
}

.h1-meeting {
  margin-top: 0;
  margin-bottom: 3.236rem;
  text-align: center;
  font-size: 1.618rem;
}

.form-group {
  padding: 0;
  border: 0;
}

.form-group {
  margin-top: 1rem;
}

.label-meeting {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  touch-action: manipulation;
}

.input-meeting,
.textarea-meeting {
  display: block;
  padding: 0.5rem 0.75rem;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #9e9e9e;
  border-left: 0;
  border-radius: 3px;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.input-meeting:focus,
.textarea-meeting:focus {
  outline: 0;
  border: none;
  border-bottom: 1px solid #9e9e9e;
}

.textarea-meeting {
  resize: vertical;
}

.btn-meeting {
  display: inline-block;
  padding: 0.75rem 1rem;
  margin-top: 1.618rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #ffab00;
  border: 1px solid transparent;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.btn-meeting:focus,
.btn-meeting:hover {
  background-color: #ffc142;
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
}

.btn-meeting:focus {
  outline: 0;
}

.modal-meeting {
  width: 400px;
}

.carsel {
  width: 250px !important;
}

.icon-pulse {
  color: red;
  font-size: 50px;
  animation: pulse-effect 0.9s infinite ease-out;
}

@keyframes pulse-effect {
  0% {
    transform: scale(0);
    /* scaling to 0 */
  }

  50% {
    transform: scale(1.2);
    /* increasing the size */
  }

  70% {
    transform: scale(0.65);
    /* decreasing the size */
  }

  100% {
    transform: scale(0);
    /* seeting back to initial size */
  }
}

.min-width-800 {
  min-width: 800px !important;
  transform: translateY(-50px) !important;
}
.min-width-500 {
  min-width: 500px !important;
  transform: translateY(-50px) !important;
}

.dataTables_length label .select-wrapper input.select-dropdown,
.dataTables_length label .select-wrapper ul.select-dropdown,
.dataTables_length label .select-wrapper svg.caret {
  display: none !important;
}
.label-1 {
  transform: translateY(-14px) scale(0.8) !important;
  transform-origin: 0 0 !important;
}

nav.modal-width-75 {
  width: 75% !important;
}

.justfiyCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-view {
  color: #448aff !important;
}
