@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
.vertical--center {
  margin: 0 auto;
  background: white;
  width: 100%;
  height: 100%;
  display: block;
}

.vertical-center__element {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.preloader {
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  margin: 1px auto;
  background: black;
}
.preloader--top {
  top: 0;
  -webkit-animation: preloaderCSSTop 2s infinite;
  animation: preloaderCSSTop 2s infinite;
}
.preloader--top::after {
  position: absolute;
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  left: 1em;
  background: black;
  margin-left: 1px;
  -webkit-animation: preloaderCSSTopAfter 2s infinite;
  animation: preloaderCSSTopAfter 2s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.preloader--bottom {
  top: 0;
  -webkit-animation: preloaderCSSBottom 2s infinite;
  animation: preloaderCSSBottom 2s infinite;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.preloader--bottom::after {
  position: absolute;
  content: "";
  display: block;
  width: 1em;
  left: 1em;
  height: 1em;
  background: black;
  margin-left: 1px;
  -webkit-animation: preloaderCSSTopAfter 2s infinite;
  animation: preloaderCSSTopAfter 2s infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes preloaderCSSTop {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

@keyframes preloaderCSSTop {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
@-webkit-keyframes preloaderCSSBottom {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
@keyframes preloaderCSSBottom {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
@-webkit-keyframes preloaderCSSTopAfter {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
@keyframes preloaderCSSTopAfter {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
@-webkit-keyframes preloaderCSSBottomAfter {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
@keyframes preloaderCSSBottomAfter {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

.basic-loader {
  background: #262626;
}
.basic-loader ul {
  position: absolute;
  width: 100%;
  text-align: center;
}
.basic-loader ul li {
  list-style: none;
  display: inline-block;
  color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
  margin: 14px;
  animation: animate 1.3s infinite linear;
}
@keyframes animate {
  0% {
    color: rgba(255, 255, 255, 0.2);
    text-shadow: none;
  }
  90% {
    color: rgba(255, 255, 255, 0.2);
    text-shadow: none;
  }
  100% {
    color: #ffbf00;
    text-shadow: 0 0 10px #ffbf00;
  }
}
.basic-loader ul li:nth-child(1) {
  animation-delay: 0.2s;
}
.basic-loader ul li:nth-child(2) {
  animation-delay: 0.4s;
}
.basic-loader ul li:nth-child(3) {
  animation-delay: 0.6s;
}
.basic-loader ul li:nth-child(4) {
  animation-delay: 0.8s;
}
.basic-loader ul li:nth-child(5) {
  animation-delay: 1s;
}
.basic-loader ul li:nth-child(6) {
  animation-delay: 1.2s;
}
.basic-loader ul li:nth-child(7) {
  animation-delay: 1.4s;
}

.bounceman-loader {
  background: #fff;
}
.bounceman-loader ul {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translate(0, -50%);
}
.bounceman-loader ul li {
  list-style: none;
  display: inline-block;
  background: #f44336;
  color: #fff;
  font-size: 50px;
  width: 100px;
  height: 90px;
  line-height: 90px;
  margin-left: -7px;
  animation: animate 1s infinite linear;
}
@keyframes animate {
  0% {
    transform: translateY(0) scaleX(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: translateY(-70px) scaleX(0.7);
    box-shadow: 0 30px 15px rgba(0, 0, 0, 0.4);
  }
  100% {
    transform: translateY(0) scaleX(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  }
}

.bounceman-loader ul li:nth-child(1) {
  animation-delay: 0.2s;
}
.bounceman-loader ul li:nth-child(2) {
  animation-delay: 0.4s;
}
.bounceman-loader ul li:nth-child(3) {
  animation-delay: 0.6s;
}
.bounceman-loader ul li:nth-child(4) {
  animation-delay: 0.8s;
}
.bounceman-loader ul li:nth-child(5) {
  animation-delay: 1s;
}
.bounceman-loader ul li:nth-child(6) {
  animation-delay: 1.2s;
}
.bounceman-loader ul li:nth-child(7) {
  animation-delay: 1.4s;
}
