@import url("https://fonts.googleapis.com/css?family=Exo:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko:400,600&display=swap");

:root {
  --player-background: #000000;
  --player-foreGround: #edf2f4;
  --player-controls: #2b2b2b;
  --hover-color: #3a3b3b;
  --font-family: "Exo", sans-serif;
}

.vid-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.video-topbar {
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--player-background);
  color: var(--player-foreGround);
  text-transform: uppercase;
  font-weight: 600;
  z-index: 2;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.video-topbar-2 {
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--player-background);
  color: var(--player-foreGround);
  text-transform: uppercase;
  font-weight: 600;
  z-index: 2;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.video-player {
  background-color: #000000;
}

.video-player,
.video-info {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.video-info-2 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 4px;
  overflow: hidden;
}

.video-player video {
  max-width: 100%;
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--player-background);
  z-index: 2;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.video-controls-2 {
  height: 44px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--player-background);
  z-index: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.video-controls .icon {
  position: absolute;
}

.translate-icon {
  transform: translateY(12px) !important;
}

.video-controls .seekbar {
  width: 100%;
  height: 4px;
  background-color: var(--player-controls);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.video-controls .seekbar .progress {
  background-color: var(--player-foreGround);
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.video-controls .control-btn {
  padding: 0;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  width: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  color: var(--player-foreGround);
  outline: 0;
  cursor: pointer;
}

.video-controls .control-btn:hover {
  background-color: var(--hover-color);
}

.video-controls .video-playback-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.video-controls .toggle-play-pause.play .pause-icon {
  display: none;
}

.video-controls .toggle-play-pause.pause .play-icon {
  display: none;
}

.video-controls .toggle-volume.on .volume-off {
  display: none;
}

.video-controls .toggle-volume.off .volume-on {
  display: none;
}

.video-controls .video-volume-control {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 4px;
}

.video-controls .video-timings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--player-foreGround);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 600;
  margin-left: auto;
  padding: 0 4px;
}

.video-controls .video-timings .time {
  width: 70px;
  text-align: center;
}

.video-player.hide-controls .video-topbar {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.video-player.hide-controls .video-controls {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.vid-container {
  padding-top: 30px;
  padding-bottom: 100px;
  height: calc(100% - 40px);
}

.vid-containa {
  padding-top: 85px;
  padding-bottom: 100px;
}

.top-info {
  font-family: "Teko", sans-serif;
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 6px;
  text-align: center;
  background-color: #272d2d;
  color: #ffffff;
}

.video-info {
  margin-top: 10px;
  justify-content: unset;
  align-items: unset;
}

.video-comments {
  width: 70%;
}

.video-activity {
  width: 30%;
}

.example-enter {
  opacity: 0.01;
  transition: opacity 0.5s linear;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}

.Container {
  background: #ecf0f1;
  border-radius: 5px;
  padding-bottom: 15px;
}

input {
  outline: none;
}

.Comment {
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: -15px;
}

.padding-005 {
  padding: 5px !important;
}

.padding-010 {
  padding: 10px !important;
}

.padding-015 {
  padding: 15px !important;
}

.padding-020 {
  padding: 20px !important;
}

.padding-025 {
  padding: 25px !important;
}

.stretch-card {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.grid-margin {
  margin-bottom: 25px;
}

.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

.card {
  border: none;
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.02);
}

#preloader-2 {
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-2 {
  background-color: transparent;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.text-animate-1 {
  animation: Color 2s linear infinite;
  -webkit-animation: Color 2s ease-in-out infinite;
}

@keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@-moz-keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@-webkit-keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}
