.curriculum-wrapper .lecture-container {
    display: flex;
    padding: 12px 30px 12px 43px;
    background-color: #fff;
    border: 1px solid #e8e9eb;
    border-top: none;
    color: #686f7a;
    letter-spacing: .3px;
    line-height: 1.33;
}

.curriculum-wrapper .lecture-container .left-content {
    display: flex;
    align-items: flex-start;
    width: 50%;
}

.curriculum-wrapper .lecture-container .top {
    flex-direction: column-reverse;
    display: flex;
    margin-left: 15px;
    width: 100%;
}

.curriculum-wrapper .lecture-container .description {
    font-size: 13px;
}

.collapse.in {
    display: block;
}

.curriculum-wrapper .lecture-container .title {
    color: #505763;
    font-size: 14px;
    margin-top: -2px;
}

.curriculum-wrapper .lecture-container .details {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: auto;
    width: 50%;
    font-size: 14px;
}

@media (min-width: 992px) {
    .curriculum-wrapper .content-summary {
        width: 30%;
    }
}

.curriculum-wrapper .content-summary {
    color: #686f7a;
    flex-direction: row-reverse;
    display: flex;
    text-align: right;
    white-space: nowrap;
    width: 40%;
}

.page-footer {
    margin-top: 20px;
}

.upload-disabled {
    pointer-events: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
}

.dataTables_length label,
.dataTables_paginate .pagination {
    float: right;
}

.dataTables_filter label {
    float: left;
    margin-left: 20px;
}

.dataTables_length label {
    margin-right: 20px;
}

.dataTables_length label .select-wrapper {
    max-width: 50px;
}

.dataTables_filter label input {
    max-width: 250px;
}

.btn-classroom {
    padding: 0px 10px;
    cursor: pointer;
}

.btn-classroom:hover,
.btn-classroom:active,
.btn-classroom:focus {
    border-bottom: 1px solid #adadad !important;
    background: #e0e0e0 !important;
}

.content-clear {
    display: none;
    position: relative;
    z-index: 7;
    top: 10px;
    right: 10px;
    background: 0 0;
    cursor: pointer;
    border: none;
    font-size: 11px;
    padding: 4px 8px;
    font-weight: 300;
    color: rgb(255, 0, 0);
    transition: all .15s linear;
}
